.App {
  text-align: center;
}

.App-header {
  background-color: #282c3440;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
}

.Filters {
  display: inline-block;
  padding: 20px;
}

table {
  border-collapse: collapse;
}

tr {
  border-style: solid;
  padding: 3px;
  height: 8vh;
  min-width: 100vw;
}

td {
  padding: 7px;
  min-width: 10vw;
}

th {
  padding: 10px
}

input[type="text"] {
  max-width: 12vw;
}
