.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c3440;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
}

.App-link {
  color: #09d3ac;
}

table {
  border-collapse: collapse;
}

tr {
  border-style: solid;
  padding: 3px;
  height: 8vh;
  min-width: 100vw;
  cursor: pointer;
}

td {
  padding: 7px;
  min-width: 7vw;
}

th {
  padding: 10px
}

input[type=text] {
  display: inline-block;
}
